body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#roster {
	margin-left: 1rem;
}

.olod:hover {
	border: 2px solid #4CAF50;
	cursor: pointer;
}

.olod {
	border: 2px solid rgba(0, 0, 0, 0);
}

.tabs .indicator {
	background-color: #4CAF50;
}

#favorite {
	padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
	nav .brand-logo,
	nav .brand-logo i {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 400px) {
	nav .brand-logo,
	nav .brand-logo i {
		font-size: 1.4rem;
	}
}